.webuploader-container{
	position: relative;
}
.webuploader-element-invisible{
	position: absolute !important;
	clip: rect(1px,1px,1px,1px);
}
.webuploader-pick{
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: center;
}
.webuploader-pick-hover{}
.webuploader-pick-disable{
	opacity: 0.6;
	pointer-events:none;
}

