/* 应用码头 */
#dock-bar{
    position: absolute;
    display: none;
    &.top-bar{
        width: 100%;
        height: 80px;
        left: 0;
        top: 0;
    }
    &.left-bar{
        width: 80px;
        height: 100%;
        left: 0;
        top: 0;
    }
    &.right-bar{
        width: 80px;
        height: 100%;
        right: 0;
        top: 0;
    }
    @at-root{
        #dock-container{
            position: absolute;
            z-index: 0;
            &.showtop{
                z-index: 100000;
            }
            .dock-middle{
                .dock-applist{
                    position: relative;
                    .appbtn{
                        width: 58px;
                        height: 58px;
                        padding: 0;
                        img{
                            margin-top: 5px;
                        }
                        span{
                            display: none;
                        }
                    }
                }
                .dock-tools-container{
                    .dock-tools{
                        a{
                            @include text-shadow(1px 1px 1px #000);
                            float: left;
                            display: block;
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                            text-align: center;
                            color: #fff;
                            &:hover{
                                color: #f6fa27;
                            }
                        }
                    }
                    .dock-startbtn{
                        width: 40px;
                        height: 40px;
                        padding: 8px;
                        .dock-tool-start{
                            @include text-shadow(1px 1px 1px #000);
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            display: block;
                            text-align: center;
                            margin: 0 auto;
                            color: #fff;
                            &:hover{
                                color: #f6fa27;
                            }
                            i.hrosfont{
                                font-size: 36px;
                            }
                        }
                    }
                }
                .dock-pagination{
                    .pagination{
                        width: 20px;
                        height: 20px;
                        line-height: 1.5;
                        color: #fff;
                        display: inline-block;
                        float: left;
                        margin: 1px;
                        text-align: center;
                        i.hrosfont{
                            @include text-shadow(1px 1px 1px #000);
                            font-size: 12px;
                            &.hros-num1,
                            &.hros-num2,
                            &.hros-num3,
                            &.hros-num4,
                            &.hros-num5{
                                display: none;
                            }
                        }
                        &:hover{
                            i.hros-dot{
                                display: none;
                            }
                            &.pagination-1 i.hros-num1,
                            &.pagination-2 i.hros-num2,
                            &.pagination-3 i.hros-num3,
                            &.pagination-4 i.hros-num4,
                            &.pagination-5 i.hros-num5{
                                display: inline;
                            }
                        }
                    }
                    &.current-pagination-1 .pagination-1{
                        color: #f6fa27;
                        i.hros-dot{
                            display: none;
                        }
                        i.hros-num1{
                            display: inline;
                        }
                    }
                    &.current-pagination-2 .pagination-2{
                        color: #f6fa27;
                        i.hros-dot{
                            display: none;
                        }
                        i.hros-num2{
                            display: inline;
                        }
                    }
                    &.current-pagination-3 .pagination-3{
                        color: #f6fa27;
                        i.hros-dot{
                            display: none;
                        }
                        i.hros-num3{
                            display: inline;
                        }
                    }
                    &.current-pagination-4 .pagination-4{
                        color: #f6fa27;
                        i.hros-dot{
                            display: none;
                        }
                        i.hros-num4{
                            display: inline;
                        }
                    }
                    &.current-pagination-5 .pagination-5{
                        color: #f6fa27;
                        i.hros-dot{
                            display: none;
                        }
                        i.hros-num5{
                            display: inline;
                        }
                    }
                }
            }
            &.dock-top{
                width: desktop-sprite-width(dock-bg-top);
                height: desktop-sprite-height(dock-bg-top);
                top: 0;
                left: 50%;
                margin: 0 0 0 -310px;
                .dock-middle{
                    @include desktop-sprite(dock-bg-top);
                    width: desktop-sprite-width(dock-bg-top);
                    height: desktop-sprite-height(dock-bg-top);
                    .dock-applist{
                        width: 476px;
                        height: 58px;
                        margin: 11px 14px;
                        float: left;
                    }
                    .dock-tools-container{
                        height: 56px;
                        float: left;
                        .dock-tools{
                            width: 20px;
                            height: 46px;
                            padding: 5px;
                            float: left;
                            overflow: hidden;
                            .dock-tool-setting, .dock-tool-appmanage{
                                margin-bottom: 3px;
                            }
                            .dock-tool-style, .dock-tool-search{
                                margin-top: 3px;
                            }
                        }
                        .dock-startbtn{
                            float: left;
                        }
                    }
                    .dock-pagination{
                        width: 110px;
                        height: 22px;
                        padding: 1px 3px;
                        float: left;
                    }
                }
            }
            &.dock-left{
                width: desktop-sprite-width(dock-bg-left);
                height: desktop-sprite-height(dock-bg-left);
                top: 50%;
                left: 0;
                margin: -310px 0 0 0;
                .dock-middle{
                    @include desktop-sprite(dock-bg-left);
                    width: desktop-sprite-width(dock-bg-left);
                    height: desktop-sprite-height(dock-bg-left);
                    .dock-applist{
                        width: 58px;
                        height: 476px;
                        margin: 14px 11px;
                        float: left;
                    }
                    .dock-tools-container{
                        width: 56px;
                        float: left;
                        .dock-tools{
                            width: 46px;
                            height: 20px;
                            padding: 5px;
                            float: left;
                            overflow: hidden;
                            .dock-tool-setting, .dock-tool-appmanage{
                                margin-right: 3px;
                            }
                            .dock-tool-style, .dock-tool-search{
                                margin-left: 3px;
                            }
                        }
                        .dock-startbtn{
                            float: left;
                        }
                    }
                    .dock-pagination{
                        width: 22px;
                        height: 110px;
                        padding: 3px 1px;
                        float: left;
                    }
                }
            }
            &.dock-right{
                width: desktop-sprite-width(dock-bg-right);
                height: desktop-sprite-height(dock-bg-right);
                top: 50%;
                left: 0;
                margin: -310px 0 0 0;
                .dock-middle{
                    @include desktop-sprite(dock-bg-right);
                    width: desktop-sprite-width(dock-bg-right);
                    height: desktop-sprite-height(dock-bg-right);
                    .dock-applist{
                        width: 58px;
                        height: 476px;
                        margin: 14px 11px;
                        float: right;
                    }
                    .dock-tools-container{
                        width: 56px;
                        float: right;
                        .dock-tools{
                            width: 46px;
                            height: 20px;
                            padding: 5px;
                            float: right;
                            overflow: hidden;
                            .dock-tool-setting, .dock-tool-appmanage{
                                margin-right: 3px;
                            }
                            .dock-tool-style, .dock-tool-search{
                                margin-left: 3px;
                            }
                        }
                        .dock-startbtn{
                            float: right;
                        }
                    }
                    .dock-pagination{
                        width: 22px;
                        height: 110px;
                        padding: 3px 1px;
                        float: right;
                    }
                }
            }
        }
    }
}