$dock-bg: rgba(0, 0, 0, 0.4);
$dock-line-bg: rgba(0, 0, 0, 0.2);
$dock-top-width: 620px;
$dock-top-height: 80px;
$dock-left-widht: 80px;
$dock-left-height: 620px;
$dock-right-widht: 80px;
$dock-right-height: 620px;

/* 应用码头 */
#dock-bar{
    display: none;
    position: absolute;
    &.top-bar{
        width: 100%;
        height: $dock-top-height;
        left: 0;
        top: 0;
    }
    &.left-bar{
        width: $dock-left-widht;
        height: 100%;
        left: 0;
        top: 0;
    }
    &.right-bar{
        width: $dock-right-widht;
        height: 100%;
        right: 0;
        top: 0;
    }
    @at-root{
        #dock-container{
            position: absolute;
            z-index: 0;
            &.showtop{
                z-index: 100000;
            }
            .dock-middle{
                position: relative;
                background-color: $dock-bg;
                .dock-applist{
                    position: relative;
                    .appbtn{
                        width: 58px;
                        height: 58px;
                        padding: 0;
                        img{
                            margin-top: 5px;
                        }
                        span{
                            display: none;
                        }
                    }
                }
                .dock-tools-container{
                    .dock-tools{
                        a{
                            @include text-shadow(1px 1px 1px #000);
                            display: block;
                            float: left;
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                            text-align: center;
                            color: #fff;
                            &:hover{
                                color: #f6fa27;
                            }
                        }
                    }
                    .dock-startbtn{
                        width: 40px;
                        height: 40px;
                        padding: 8px;
                        .dock-tool-start{
                            @include text-shadow(1px 1px 1px #000);
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            display: block;
                            text-align: center;
                            margin: 0 auto;
                            color: #fff;
                            &:hover{
                                color: #f6fa27;
                            }
                            i.hrosfont{
                                font-size: 36px;
                            }
                        }
                    }
                }
                .dock-pagination{
                    .pagination{
                        width: 20px;
                        height: 20px;
                        line-height: 1.5;
                        color: #fff;
                        display: inline-block;
                        float: left;
                        margin: 1px;
                        text-align: center;
                        i.hrosfont{
                            @include text-shadow(1px 1px 1px #000);
                            font-size: 12px;
                            &.hros-num1,
                            &.hros-num2,
                            &.hros-num3,
                            &.hros-num4,
                            &.hros-num5{
                                display: none;
                            }
                        }
                        &:hover{
                            i.hros-dot{
                                display: none;
                            }
                            &.pagination-1 i.hros-num1,
                            &.pagination-2 i.hros-num2,
                            &.pagination-3 i.hros-num3,
                            &.pagination-4 i.hros-num4,
                            &.pagination-5 i.hros-num5{
                                display: inline;
                            }
                        }
                    }
                    &.current-pagination-1 .pagination-1{
                        color: #f6fa27;
                        i.hros-dot{
                            display: none;
                        }
                        i.hros-num1{
                            display: inline;
                        }
                    }
                    &.current-pagination-2 .pagination-2{
                        color: #f6fa27;
                        i.hros-dot{
                            display: none;
                        }
                        i.hros-num2{
                            display: inline;
                        }
                    }
                    &.current-pagination-3 .pagination-3{
                        color: #f6fa27;
                        i.hros-dot{
                            display: none;
                        }
                        i.hros-num3{
                            display: inline;
                        }
                    }
                    &.current-pagination-4 .pagination-4{
                        color: #f6fa27;
                        i.hros-dot{
                            display: none;
                        }
                        i.hros-num4{
                            display: inline;
                        }
                    }
                    &.current-pagination-5 .pagination-5{
                        color: #f6fa27;
                        i.hros-dot{
                            display: none;
                        }
                        i.hros-num5{
                            display: inline;
                        }
                    }
                }
            }
            &.dock-top{
                width: $dock-top-width;
                height: $dock-top-height;
                top: 0;
                left: 50%;
                margin: 0 0 0 -310px;
                .dock-middle{
                    @include border-bottom-radius(5px);
                    width: $dock-top-width;
                    height: $dock-top-height;
                    //背景辅助线
                    &::after{
                        @include border-bottom-radius(5px);
                        content: '';
                        position: absolute;
                        z-index: -1;
                        left: 0;
                        top: 0;
                        width: $dock-top-width - 2;
                        height: $dock-top-height - 1;
                        border: 1px solid $dock-line-bg;
                        border-top: 0;
                    }
                    .dock-applist{
                        position: relative;
                        width: 476px;
                        height: 58px;
                        margin: 11px 14px;
                        float: left;
                        //背景辅助线
                        &::after{
                            content: '';
                            position: absolute;
                            z-index: -1;
                            left: 490px;
                            top: -11px;
                            width: 0;
                            height: 80px;
                            border-left: 1px solid $dock-line-bg;
                        }
                    }
                    .dock-tools-container{
                        position: relative;
                        height: 56px;
                        float: left;
                        //背景辅助线
                        &::after{
                            content: '';
                            position: absolute;
                            z-index: -1;
                            left: 0;
                            top: 55px;
                            width: 115px;
                            height: 0;
                            border-top: 1px solid $dock-line-bg;
                        }
                        .dock-tools{
                            position: relative;
                            width: 20px;
                            height: 46px;
                            padding: 5px;
                            float: left;
                            //背景辅助线
                            &::after{
                                content: '';
                                position: absolute;
                                z-index: -1;
                                left: 30px;
                                top: 0;
                                width: 0;
                                height: 56px;
                                border-left: 1px solid $dock-line-bg;
                            }
                            .dock-tool-setting, .dock-tool-appmanage{
                                margin-bottom: 3px;
                            }
                            .dock-tool-style, .dock-tool-search{
                                margin-top: 3px;
                            }
                        }
                        .dock-startbtn{
                            float: left;
                        }
                    }
                    .dock-pagination{
                        width: 110px;
                        height: 22px;
                        padding: 1px 3px;
                        float: left;
                    }
                }
            }
            &.dock-left{
                width: $dock-left-widht;
                height: $dock-left-height;
                top: 50%;
                left: 0;
                margin: -310px 0 0 0;
                .dock-middle{
                    @include border-right-radius(5px);
                    width: $dock-left-widht;
                    height: $dock-left-height;
                    //背景辅助线
                    &::after{
                        @include border-right-radius(5px);
                        content: '';
                        position: absolute;
                        z-index: -1;
                        left: 0;
                        top: 0;
                        width: $dock-left-widht - 1;
                        height: $dock-left-height - 2;
                        border: 1px solid $dock-line-bg;
                        border-left: 0;
                    }
                    .dock-applist{
                        position: relative;
                        width: 58px;
                        height: 476px;
                        margin: 14px 11px;
                        float: left;
                        //背景辅助线
                        &::after{
                            content: '';
                            position: absolute;
                            z-index: -1;
                            left: -11px;
                            top: 490px;
                            width: 80px;
                            height: 0;
                            border-top: 1px solid $dock-line-bg;
                        }
                    }
                    .dock-tools-container{
                        position: relative;
                        width: 56px;
                        float: left;
                        //背景辅助线
                        &::after{
                            content: '';
                            position: absolute;
                            z-index: -1;
                            left: 55px;
                            top: 0;
                            width: 0;
                            height: 115px;
                            border-left: 1px solid $dock-line-bg;
                        }
                        .dock-tools{
                            position: relative;
                            width: 46px;
                            height: 20px;
                            padding: 5px;
                            float: left;
                            //背景辅助线
                            &::after{
                                content: '';
                                position: absolute;
                                z-index: -1;
                                left: 0;
                                top: 30px;
                                width: 56px;
                                height: 0;
                                border-top: 1px solid $dock-line-bg;
                            }
                            .dock-tool-setting, .dock-tool-appmanage{
                                margin-right: 3px;
                            }
                            .dock-tool-style, .dock-tool-search{
                                margin-left: 3px;
                            }
                        }
                        .dock-startbtn{
                            float: left;
                        }
                    }
                    .dock-pagination{
                        width: 22px;
                        height: 110px;
                        padding: 3px 1px;
                        float: left;
                    }
                }
            }
            &.dock-right{
                width: $dock-right-widht;
                height: $dock-right-height;
                top: 50%;
                left: 0;
                margin: -310px 0 0 0;
                .dock-middle{
                    @include border-left-radius(5px);
                    width: $dock-right-widht;
                    height: $dock-right-height;
                    //背景辅助线
                    &::after{
                        @include border-left-radius(5px);
                        content: '';
                        position: absolute;
                        z-index: -1;
                        left: 0;
                        top: 0;
                        width: $dock-right-widht - 1;
                        height: $dock-right-height - 2;
                        border: 1px solid $dock-line-bg;
                        border-right: 0;
                    }
                    .dock-applist{
                        position: relative;
                        width: 58px;
                        height: 476px;
                        margin: 14px 11px;
                        float: right;
                        //背景辅助线
                        &::after{
                            content: '';
                            position: absolute;
                            z-index: -1;
                            left: -11px;
                            top: 490px;
                            width: 80px;
                            height: 0;
                            border-top: 1px solid $dock-line-bg;
                        }
                    }
                    .dock-tools-container{
                        position: relative;
                        width: 56px;
                        float: right;
                        //背景辅助线
                        &::after{
                            content: '';
                            position: absolute;
                            z-index: -1;
                            right: 55px;
                            top: 0;
                            width: 0;
                            height: 115px;
                            border-left: 1px solid $dock-line-bg;
                        }
                        .dock-tools{
                            position: relative;
                            width: 46px;
                            height: 20px;
                            padding: 5px;
                            float: right;
                            //背景辅助线
                            &::after{
                                content: '';
                                position: absolute;
                                z-index: -1;
                                left: 0;
                                top: 30px;
                                width: 56px;
                                height: 0;
                                border-top: 1px solid $dock-line-bg;
                            }
                            .dock-tool-setting, .dock-tool-appmanage{
                                margin-right: 3px;
                            }
                            .dock-tool-style, .dock-tool-search{
                                margin-left: 3px;
                            }
                        }
                        .dock-startbtn{
                            float: right;
                        }
                    }
                    .dock-pagination{
                        width: 22px;
                        height: 110px;
                        padding: 3px 1px;
                        float: right;
                    }
                }
            }
        }
    }
}