/* 评分 */
.grade-box{
    width: 200px;
    height: 20px;
    .star-num{
        float: right;
        margin: 0 30px 0 5px;
        display: inline-block;
        height: 20px;
        line-height: 20px;
        font-family: Georgia;
        font-weight: bold;
        font-size: 16px;
        color: #f60;
    }
    .star-box{
        float: right;
        position: relative;
        display: inline-block;
        width: 85px;
        height: 15px;
        margin-top: 5px;
        background: url(../img/app_spr_img.png) no-repeat 0 -62px;
        div{
            width: 40px;
            height: 18px;
            line-height: 18px;
            float: left;
            position: relative;
            left: -40px;
        }
        i{
            background: url(../img/app_spr_img.png) no-repeat 0 -78px;
            position: absolute;
            top: 0;
            left: 0;
            height: 15px;
            overflow: hidden;
            font-style: normal;
        }
        ul{
            position: absolute;
            li{
                position: absolute;
                &.grade-1{
                    width: 17px;
                    z-index: 10;
                }
                &.grade-2{
                    width: 34px;
                    z-index: 9;
                }
                &.grade-3{
                    width: 51px;
                    z-index: 8;
                }
                &.grade-4{
                    width: 68px;
                    z-index: 7;
                }
                &.grade-5{
                    width: 85px;
                    z-index: 6;
                }
                a{
                    display: block;
                    height: 15px;
                    background: url(../img/app_spr_img.png) no-repeat 100px 100px;
                    em{
                        visibility: hidden;
                        position: absolute;
                        top: -2px;
                        left: -84px;
                        width: 80px;
                        text-align: right;
                        color: #999;
                        font-style: normal;
                        background-color: #fff;
                    }
                    &:hover{
                        background-position: 0 -94px;
                        em{
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}