/* 分享 */
#share a{
    display: block;
    float: left;
    padding-left: 20px;
    margin: 5px 0;
    width: 60px;
    height: 16px;
    line-height: 16px;
    background: url(../img/share_icon.png) no-repeat;
    cursor: pointer;
    color: #333;
    &:hover{
        @include opacity(0.8);
    }
    .tsina{
        background-position: 0 0;
    }
    .tqq{
        background-position: 0 -16px;
    }
    .qzone{
        background-position: 0 -32px;
    }
    .renren{
        background-position: 0 -48px;
    }
    .baidu{
        background-position: 0 -64px;
    }
    .tsohu{
        background-position: 0 -80px;
    }
    .douban{
        background-position: 0 -96px;
    }
    .twangyi{
        background-position: 0 -112px;
    }
}