/* 文件夹窗口 */
.folder_body{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    .appbtn{
        position: relative;
        float: left;
        margin: 5px;
    }
}
/* 窗口 */
.window-container{
    @include box-shadow(0px 5px 60px rgba(0, 0, 0, 0.8));
    position: absolute;
    background: #ccc;
    border: 1px solid #000;
    // 最大化窗口
    &.window-maximize{
        border: none!important;
    }
    // 标题
    .title-bar{
        position: relative;
        z-index: 1;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        cursor: default;
        background: #ccc;
        // 标题图标
        .icon{
            position: absolute;
            top: 7px;
            left: 7px;
            width: 16px;
            height: 16px;
        }
        // 标题文字
        .title{
            display: inline-block;
            width: 100%;
            text-align: center;
            color: #000;
            font-size: 14px;
        }
        // 窗口右上角操作按钮
        .title-handle{
            position: absolute;
            z-index: 1;
            top: 4px;
            right: 4px;
            font-size: 0;
            cursor: pointer;
            a{
                position: relative;
                text-decoration: none;
                letter-spacing: normal;
                text-align: center;
                display: inline-block;
                zoom: 1;
                vertical-align: top;
                font-family: tahoma, arial, \5b8b\4f53, sans-serif;
                color: #000;
                font-size: 22px;
                width: 22px;
                height: 22px;
                line-height: 22px;
                b{
                    display: block;
                    position: absolute;
                    overflow: hidden;
                    cursor: pointer;
                }
                &.ha-close{
                    &:hover{
                        color: #03F;
                    }
                }
                &.ha-fullscreen{
                    &:hover{
                        color: #03F;
                    }
                }
                &.ha-max{
                    .max-b{
                        top: 6px;
                        left: 4px;
                        width: 10px;
                        height: 5px;
                        border: 2px solid #000;
                        border-top-width: 4px;
                    }
                    &:hover .max-b{
                        border-color: #03f;
                    }
                }
                &.ha-revert{
                    .revert-b{
                        top: 5px;
                        left: 6px;
                        width: 8px;
                        height: 4px;
                        border: 2px solid #000;
                        border-top-width: 3px;
                    }
                    .revert-t{
                        top: 9px;
                        left: 3px;
                        width: 8px;
                        height: 4px;
                        border: 2px solid #000;
                        border-top-width: 3px;
                        background: #fff;
                    }
                    &:hover .revert-b,
                    &:hover .revert-t{
                        border-color: #03f;
                    }
                }
                &.ha-hide{
                    .hide-b{
                        top: 12px;
                        left: 5px;
                        width: 12px;
                        height: 2px;
                        border-bottom: 2px solid #000;
                    }
                    &:hover .hide-b{
                        border-color: #03f;
                    }
                }
            }
        }
    }
    // 窗口内部iframe
    .window-frame{
        position: absolute;
        top: 30px;
        right: 0;
        bottom: 30px;
        left: 0;
        background: #fff;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        iframe{
            position: absolute;
            border: 0;
            height: 100%;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        // 遮罩层
        .window-mask{
            position: absolute;
            z-index: 9998;
            height: 100%;
            width: 100%;
            display: none;
            overflow: hidden;
            background: url(../img/window_mask_bg.png) repeat-x;
            div{
                width: 100%;
                text-align: center;
                margin-top: 20px;
                &.maskbg{
                    margin-top: 70px;
                    height: 75px;
                    background: url(../img/window_mask_icon.png) no-repeat center;
                }
            }
            &.window-mask-noflash{
                @include opacity(0);
                background: none;
            }
        }
    }
    .window-resize{
        position: absolute;
        overflow: hidden;
        display: block;
        &.window-resize-t{
            left: 0;
            top: -8px;
            width: 100%;
            height: 10px;
            z-index: 1;
            cursor: n-resize;
        }
        &.window-resize-r{
            right: -8px;
            top: 0;
            width: 10px;
            height: 100%;
            z-index: 1;
            cursor: e-resize;
        }
        &.window-resize-b{
            left: 0;
            bottom: -8px;
            width: 100%;
            height: 10px;
            z-index: 1;
            cursor: s-resize;
        }
        &.window-resize-l{
            left: -8px;
            top: 0;
            width: 10px;
            height: 100%;
            z-index: 1;
            cursor: w-resize;
        }
        &.window-resize-rt{
            right: -8px;
            top: -8px;
            width: 10px;
            height: 10px;
            z-index: 2;
            cursor: ne-resize;
        }
        &.window-resize-rb{
            right: -8px;
            bottom: -8px;
            width: 10px;
            height: 10px;
            z-index: 2;
            cursor: se-resize;
        }
        &.window-resize-lt{
            left: -8px;
            top: -8px;
            width: 10px;
            height: 10px;
            z-index: 2;
            cursor: nw-resize;
        }
        &.window-resize-lb{
            left: -8px;
            bottom: -8px;
            width: 10px;
            height: 10px;
            z-index: 2;
            cursor: sw-resize;
        }
    }
    // 底部
    .set-bar{
        position: absolute;
        background: #ccc;
        height: 30px;
        left: 0;
        right: 0;
        bottom: 0;
        .btn{
            position: relative;
            margin-top: 3px;
            margin-right: 5px;
            border: 1px solid #ccc;
            color: #000;
            cursor: pointer;
            display: inline-block;
            height: 22px;
            text-decoration: none;
            &:hover{
                border: 1px solid #000;
                background: #fff;
            }
            .fa{
                position: absolute;
                left: 6px;
                top: 2px;
                display: block;
                width: 18px;
                height: 18px;
                text-align: center;
                font-size: 18px;
            }
            .btn-con{
                height: 20px;
                line-height: 20px;
                overflow: hidden;
                padding: 0 6px 0 30px;
            }
        }
    }
    // 当前窗口
    &.window-current{
        background: #fff;
        .title-bar{
            background: #fff;
        }
        .set-bar{
            background: #fff;
            .btn{
                border: 1px solid #fff;
            }
        }
    }
}