/* 浏览器缩放提示 */
#zoom-tip{
    display: none;
    width: 100%;
    background: #FEF8E3;
    position: relative;
    z-index: 99;
    div{
        width: 960px;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        margin: 0 auto;
        color: #984B12;
        position: relative;
        i{
            width: 27px;
            height: 27px;
            background: url(../img/warning.png) no-repeat;
            position: absolute;
            top: 12px;
        }
        span{
            padding-left: 30px;
        }
    }
    .close{
        font-size: 6px;
        position: absolute;
        right: 10px;
        top: 6px;
        text-decoration: none;
    }
}